section.skill {
  min-height: fit-content;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: var(--bg-color-light);
}

.skillCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.content {
  text-align: center;
}
