.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 4rem;
}
section.hero {
  background-color: var(--bg-color-light);
  min-height: 60vh;
}

.hero {
  min-height: fit-content;
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 70%;
  gap: 1rem;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column .img {
  display: block;
  flex: 0 0 30%;
  margin: 1rem;
}

.img {
  text-align: center;
  margin: 0 auto;
  width: 250px;
  border-radius: 50%;
}

.column .heroContent,
.heroContent h1,
.heroButtons {
  flex: 0 0 100%;
  margin: 0.5rem;
}

.heroContent h1 {
  text-align: left;
  font-size: 2rem;
}

.heroContent span {
  color: var(--color-primary);
}

.hero p {
  max-width: 600px;
  margin: 0 auto 1.5rem;
}

@media screen and (max-width: 1200px) {
  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .column {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .heroContent {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img {
    width: 200px;
    margin: 0 auto;
    display: block;
  }

  .heroContent h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .heroContent p,
  .heroButtons {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0.5rem;
  }
  .img {
    width: 150px;
  }

  .heroContent h1 {
    font-size: 1rem;
    text-align: center;
  }
}
