section.about {
  min-height: fit-content;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 2rem;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: var(--bg-color-light);
  width: 60%;
}
.content h2 {
  text-align: center;
  margin-top: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1 1 50%;
}
@media screen and (max-width: 992px) {
  .content {
    margin: 1rem;
    padding: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .row {
    display: flex;
  }
  .column {
    flex: 1 1 100%;
  }
  .content {
    margin: 1rem;
    padding: 1rem;
    width: 90%;
  }
}
