.navbar {
  height: 60px;
  background-color: var(--color-light);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom: 1px solid #e0e0e0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  padding: 0 4rem;
}

.brand {
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: bold;
}

.brand span {
  color: var(--color-dark);
}

.navLinks {
  display: flex;
  gap: 1.5rem;
  font-size: var(--font-base);
}

.navLinks li a {
  color: #222;
  transition: color 0.3s ease;
}

.navLinks li a:hover {
  color: var(--color-primary);
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #222;
}
@media screen and (max-width: 992px) {
  .navLinks {
    display: flex;
    gap: 1rem;
    font-size: var(--font-base);
  }
}
@media screen and (max-width: 768px) {
  .navLinks {
    display: none;
    flex-direction: column;
    background: var(--color-light);
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 0 0 10px 10px;
  }

  .navLinksActive {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
